<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>
<article class="about">
  <h2>Sobre Mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Repellat dignissimos omnis quam provident nihil similique inventore, 
    fuga fugiat ad cupiditate, eligendi reprehenderit culpa sit deleniti, 
    eveniet nam fugit! Veniam, reiciendis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Repellat dignissimos omnis quam provident nihil similique inventore, 
    fuga fugiat ad cupiditate, eligendi reprehenderit culpa sit deleniti, 
    eveniet nam fugit! Veniam, reiciendis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Repellat dignissimos omnis quam provident nihil similique inventore, 
    fuga fugiat ad cupiditate, eligendi reprehenderit culpa sit deleniti, 
    eveniet nam fugit! Veniam, reiciendis.
  </p>
</article>
